[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
rich = "*"
textual = "*"
textual-extras = {editable = true, ref = "main", git = "https://github.com/kraanzu/textual_extras.git"}
pyfiglet = "*"
anyio = "*"
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
bandit = "*"
pytest = "*"
pytest-asyncio = "*"
opentrons-shared-data = "==6.2.0a2"
paramiko = "*"
scp = "*"

[requires]
python_version = "3.11"
