name: Lint

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - "*"

permissions:
    contents: read

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Install uv
              uses: astral-sh/setup-uv@v7
              with:
                  python-version: "3.14"
                  enable-cache: true
                  cache-dependency-glob: |
                      **/uv.lock
                      **/pyproject.toml

            - name: Setup
              run: make setup

            - name: Run lint
              run: make lint
